<template>
  <v-list>
    <v-list-item
      v-for="(item, i) in items"
      :key="i"
      :to="item.to"
      router
      exact
    >
      <v-list-item-action>
        <v-icon>{{ item.icon }}</v-icon>
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title v-text="item.title" />
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component
export default class SideMenu extends Vue {
    // Data
    items:Array<any>= [
      {
        icon: 'mdi-apps',
        title: '1x10',
        to: '/'
      },
      {
        icon: 'mdi-chart-bubble',
        title: 'Jefes de patrulla',
        to: '/jefes'
      },
      {
        icon: 'mdi-chart-bubble',
        title: 'Patrulleros',
        to: '/patrulleros'
      }
    ]
}
</script>

<style>

</style>
