<template>
  <v-row>
    <v-col>
      <iframe
        class="airtable-embed airtable-dynamic-height"
        src="https://airtable.com/embed/shra9MLSMTBrbCK0j?backgroundColor=red"
        frameborder="0"
        onmousewheel=""
        width="100%"
        height="1199"
        style="background: transparent; border: 1px solid #ccc;"
      />
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component
export default class SideMenu extends Vue {
}
</script>
